header{
    background-color: rgb(255, 238, 0);
 }
 header img{
    max-width: 80px; 
    display: inline;
    vertical-align: middle;
    width: 100px;
    height: auto;
 }
main{
    text-align: center;
}
#formulario{
    max-width: 550px;
    margin: 50px auto;
    background: #fcfcfc;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgb(150, 149, 147);
}
#formulario input{
    border-radius: 10px;
    margin: 3px;
    width: 40%;
    padding: 2px;
}
#formulario select{
    border-radius: 10px;
    margin: 3px;
    width: 40%;
    padding: 2px;
}
#formulario textarea{
    border-radius: 20px;
    margin: 3px;
    width: 40%;
}

